

body{
    background-color: rgb(255, 213, 0);
}

.head {
    padding-bottom: 50px;
    padding-top: 50px;
    box-sizing: content-box;
    border: 100px solid pink;
}

h1{
    font-family: cursive;
    font-weight: 100;
    font-size: 32px;
    width: 27ch;
    padding-left: 30%;
}

td{
    background-color: rgb(255, 213, 0);
}
